// color variable
$primary-color: #58e1c1;
$main-blue: #7ee6fd;
// Font stack variable
$font-stack-primary: Helvetica,serif;
// Font color variable
$text-color: black;
//grid width
$gridcol-width: 100%;
//border
$gridcol-border: 5px;
//breakpoints
$break-m: 768px;

$bottom-grid-width: 300px;
