//Typography and Nav partials




.card {
  .headline--primary{
    color: $primary-color;
    font-family: $font-stack-primary;
    font-size: 1.6em
  }

.blockquote {
    font-family: $font-stack-primary;
    font-style: italic;
    border-left: 5px solid $primary-color;
    font-size: 1.2em;
    border-radius: 5px;
    padding-left: 10px;
  }

}

// flexbox
.headline--secondary {
  @include flexbox;
  width:300px;
  text-align: left;
  @media (min-width: $break-m) {
    display: block;
    text-align: left;
    width:90%;
  }

}
